body {
    width: 80%;
    height: auto;
    display: flex;

    #formulaire {
        float:right;
        width: 30%;
        form {
            height: 50%;
        }
    }  
    
    #echiquier { 
        border: 1px solid black;
        float:left;
        height: 500px;
        width: 70%;
        background: url("https://upload.wikimedia.org/wikipedia/commons/7/7a/Jeu-de-Dames_02.svg");
    }
}