body {
  width: 80%;
  height: auto;
  display: flex;

  #board {
    position: relative;
    border: 1px solid black;
    float: left;
    height: 500px;
    width: 70%;
    max-width: 500px;
    background: url("https://upload.wikimedia.org/wikipedia/commons/7/7a/Jeu-de-Dames_02.svg");
  }

  #direction {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #000;
    background-color: rgb(52, 51, 51);
    input {
      vertical-align: 30px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid #000;
      position: relative;
      background-color: #ccc;

      &#moveUp {
        top: 0;
        left: 75px;
      }

      &#moveDown {
        bottom: 0;
        left: 75px;
      }

      &#moveLeft {
        top: 0;
        left: 50px;
      }

      &#moveRight {
        top: 0;
        right: -50px;
      }
    }
  }

  img {
    width: 100px;
    position: absolute;
    &[active] {
      // background-color: red;
      box-sizing: border-box;
      border: 2px solid red;
    }
  }
}
