body {
  width: 80%;
  height: auto;
  display: flex;

  #formulaire {
    float: right;
    width: 30%;
    form {
      height: 50%;
    }
  }

  #board {
    position: relative;
    border: 1px solid black;
    float: left;
    height: 500px;
    width: 70%;
    max-width: 500px;
    background: url("https://upload.wikimedia.org/wikipedia/commons/7/7a/Jeu-de-Dames_02.svg");

    img {
      width: 100px;
      position: absolute;
      &[active] {
        // background-color: red;
        box-sizing: border-box;
        border: 2px solid red;
      }
    }
  }
}
